<div class="sidebar-social"> 
   
   <ul>
      <li> 
         <a href="https://github.com/spydx" title="GitHub" class="no-mark-external"> 
            <span class="icon-github"></span> 
            <span class="sr-only">GitHub</span> 
         </a>
      </li>
      <li> 
         <a href="mailto:kenneth@kefo.no" title="Email" class="no-mark-external"> 
            <span class="icon-mail"></span> 
            <span class="sr-only">Email</span> 
         </a>
      </li>
      <li> 
         <a href="https://instagram.com/spydx" title="Instagram" class="no-mark-external"> 
            <span class="icon-instagram"></span> 
            <span class="sr-only">Instagram</span> 
         </a>
      </li>
      <li> 
         <a href="https://twitter.com/xdyps" title="Twitter" class="no-mark-external"> 
            <span class="icon-twitter"></span> 
            <span class="sr-only">Twitter</span> 
         </a>
      </li>
   </ul>
</div>